[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
httpie = "*"
jinja2 = "*"
gunicorn = "*"
celery = "*"
redis = "*"
certifi = "2022.12.7"
chardet = "3.0.4"
click = "7.1.1"
Flask = "2.2.2"
idna = "2.9"
itsdangerous = "1.1.0"
MarkupSafe = "1.1.1"
urllib3 = "1.26.5"
Werkzeug = "1.0.1"
WTForms = "2.2.1"

[requires]
python_version = "3.9"
