<!-- Footer -->
<div class="page-footer">
    <div class="footer-content-container container">
    <div class="footer-content">
        <div id="footer-text">
            <a href="https://paypal.me/matthewesnell1" target="_blank"><button class="btn btn-dark" id="footer-donate-btn"><i class="fab fa-paypal fa-lg fa-2x"> </i>
                <span id="footer-donate-text">Donate</span></button></a>
        </div>

  <div id="social-icons">
      <div>
          <a class="em-ic" href="mailto:matthewstuffacc@gmail.com" target="_blank">
            <i class="far fa-envelope fa-lg white-text fa-2x"> </i>
          </a>
          <a class="-ig" href="https://www.instagram.com/matthew.snell/" target="_blank">
            <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
          </a>
          <a class="st-ic" href="https://www.strava.com/athletes/13712032" target="_blank">
            <i class="fab fa-strava fa-lg white-text fa-2x"> </i>
          </a>
          <a class="gh-ic" href="https://github.com/matthewsnell" target="_blank">
            <i class="fab fa-github fa-lg white-text fa-2x"> </i>
          </a>
      </div>
    </div>
    </div>
    </div>
    <div id="footer-copyright">
        <div id="footer-copyright-text">
            &copy Copyright
            <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> Matthew Snell
        </div>
        <img src="../../static/img/api_logo_pwrdBy_strava_horiz_gray.svg" id="footer-pwrd-by-strava">
    </div>
</div>
